<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path("vvg7ubu6bhdqfpkhlsla", crop: :fill) %>');">
  <div class="banner-content">
    <h1>Cocktopper</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cocktail.photo.nil? ? "http://www.wellesleysocietyofartists.org/wp-content/uploads/2015/11/image-not-found.jpg" : cl_image_path(cocktail.photo, height: 300, width: 400, crop: :fill) %>');">
          <div class="card-category"><%= cocktail.name.capitalize %></div>
          <div class="card-description">
            <h2><%#= cocktail.ingredients %></h2>
            <!-- <p>Asdasd</p> -->
          </div>
          <%= link_to "", cocktail_path(cocktail), class: "card-link" %>
        </div>
      </div>

    <% end %>
  </div>
  <div class="new-cocktail text-center">
    <%= link_to "new cocktail", new_cocktail_path, class: "btn btn-success" %>
  </div>
</div>
