<div class="wrapper">
  <div class="container full-height text-center page-content">
    <div class="text-center">
      <h1><%= @cocktail.name %></h1>
    </div>
    <% @cocktail.doses.each do |dose| %>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="dose">
            <div class="dose-description">
              <%= dose.description %>
            </div>
            <div class="dose-ingredients">
              <%= dose.ingredient.name %>
            </div>

            <a href="#" id="btn-delete"
           data-url="<%= dose_path(dose.id) %>" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>

            <%#= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, dose_path(dose.id), method: :delete, class: "btn btn-danger", id: "btn-delete" %>

          </div>
        </div>
      </div>
    <% end %>

    <%= link_to "Back to home page", root_path, class: "btn btn-pink" %>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="form-container">
            <%= simple_form_for [@cocktail, @dose] do |f| %>
              <div class="form-description">
                <%= f.input :description %>
              </div>
              <div class="form-select">
                <%= select_tag "ingredient", options_from_collection_for_select(Ingredient.all, :name, :name), class: 'select2' %>
              </div>

              <%= f.submit class: "btn btn-pink btn-form btn-block" %>

            <% end %>
          </div>
        </div>
      </div>
  </div>
</div>
